* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heroSection {
  background-color: aqua;
  padding: 2rem 5rem;
}
.sect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}

.firstFlat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: gray;
  gap: 1rem;
  width: 100%;
  align-items: center;
  padding: 20px 30px;
}

.firBox2 {
    background-color: cadetblue;
    font-size: 50px;
}

.firBox3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: goldenrod;
    gap: 2rem;
}

.box3-ken {
    padding: 10px;
}

p{
    font-size: 20px;
    color: blue;
}
.secondFlat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: blue;
  gap: 3rem;
  width: 100%;
  height: 700px;
}

.thirdFlat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: brown;
    gap: 3rem;
    width: 100%;
}
